<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.news_projectv10">
    <!-- promissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo_global_news"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo_global_news"
        android:supportsRtl="true"
        android:theme="@style/Theme.News_projectv10">
        <activity
            android:name=".loginPage"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".registerPage"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.news_projectv10.registerPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webViewPage"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.news_projectv10.webViewPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.news_projectv10.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>